<VirtualHost *:{{ web_listen_port }}>
    ServerName {{ web_server_name }}
    DocumentRoot {{ web_docroot }}

    <Directory {{ web_docroot }}>
        Options Indexes FollowSymLinks
        AllowOverride None
        Require all granted
    </Directory>

    DirectoryIndex index.php index.html
{% if web_security_headers | length > 0 %}
    <IfModule mod_headers.c>
{% for header in web_security_headers %}
        Header set "{{ header.name }}" "{{ header.value }}"
{% endfor %}
    </IfModule>
{% endif %}
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
