---
- name: Update apt cache
  become: true
  ansible.builtin.apt:
    update_cache: true

- name: Install base packages
  become: true
  ansible.builtin.apt:
    name: "{{ base_packages }}"
    state: present

- name: Configure MOTD
  become: true
  ansible.builtin.template:
    src: motd.j2
    dest: /etc/motd
    owner: root
    group: root
    mode: "0644"
